
body {
    background-color: #537895;
    background-image: linear-gradient(315deg, #537895 0%, #09203f 70%);
    background-size: 200% 200%;
}

.pag-container {
    display: grid;
    grid-template-areas: 
    'title'
    'body'
    'footer';
}

.title-container {
    grid-area: 'title';
    height: 20vh;
    justify-content: center;
    vertical-align: top;
    font-size: 3
    vh;
}

#title {
    text-align: center;
}

.title {
    color:red;
}

.title1 {
    color: blue;
}

.options-container {
    display: grid;
    height: 50vh;
    grid-template-rows: auto;
    justify-content: center;
    grid-area: 'body';
}

.option-button {
    height: 10vh;
    width: 20vw;
    font-size: 3vh;
    font-family: 'Times New Roman', Times, serif;    
}

.option-button {
    background-image: linear-gradient(to right, #232526 0%, #414345  51%, #232526  100%);
}

.option-button {
    /* padding: 15px 45px; */
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 10px #537895;
    border-radius: 20px;
    display: block;
}

.option-button:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.footer {
    height: 30vh;
    grid-area: 'footer';
}