h1 {
    text-decoration: underline;
    text-align: center;
}

.title {
    font-size: 1.6rem;
    color:red;
}

.title1 {
    font-size: 2rem;
    color: blue;
<<<<<<< HEAD
}
=======
}
>>>>>>> 6a64b5f02929cfec926120b3f0cc0b496b4af137
